[Unit]
Description=ThisM Agent
After=network.target

[Service]
EnvironmentFile=/etc/default/thism-agent
UMask=0077
ExecStart=/usr/local/bin/thism-agent --server ${SERVER} --token ${TOKEN} --name ${NAME}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
