[Unit]
Description=ThisM Server
After=network.target

[Service]
EnvironmentFile=/etc/default/thism-server
UMask=0077
ExecStart=/usr/local/bin/thism-server
Restart=always
RestartSec=5
User=thism
WorkingDirectory=/var/lib/thism

[Install]
WantedBy=multi-user.target
