[Unit]
Description=ThisM Server
After=network.target

[Service]
EnvironmentFile=/etc/default/thism-server
UMask=0077
ExecStart=/usr/local/bin/thism-server --port ${PORT} --db /var/lib/thism/data.db --token ${TOKEN} --admin-user ${ADMIN_USER} --admin-pass ${ADMIN_PASS}
Restart=always
RestartSec=5
User=thism
WorkingDirectory=/var/lib/thism

[Install]
WantedBy=multi-user.target
